@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/HomePageStyleSheet.css" />
</head>
<body>
    <div class="search">
        <form action="~/Home/Search" method="post" enctype="multipart/form-data">
            <table border="1" class="sort">
                <tr>
                    <td hidden><input type="text" name="topicPage" value="@ViewBag.ShowTopics" /></td>
                    <td>Headline:</td>
                    <td><input type="text" name="headline" /></td>
                    <td><input type="submit" value="Search" /></td>
                </tr>
            </table>
        </form>
        <form action="~/Home/Sort" method="post" enctype="multipart/form-data">
            <table border="1" class="sort">
                <tr>
                    <td hidden><input type="text" name="topicPage" value="@ViewBag.ShowTopics" /></td>
                    <td>
                        Sort:
                        <input list="type" name="sortType" />
                        <datalist id="type">
                            <option value="A-Z"></option>
                            <option value="Z-A"></option>
                        </datalist>
                        <input type="submit" value="Sort" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="backgroundDiv">
        @if (@ViewBag.ShowTopics == "Your topics")
        {
            <table>
                <tr>
                    <td><h2>Your topics</h2></td>
                    <td class="button"><button type="button" onclick="location.href='@Url.Action("AddNewTopicPage", "NewTopic")'">Add new topic</button></td>
                </tr>
            </table>
            <table border="1">
                @foreach (Common.Topic t in ViewBag.userTopics)
                {
                    <tr>
                        <th colspan="3" class="headline"><a href="~/Forum/TopicPage?topicId=@t.Topic_id&showAddComment=false"> @t.Headline </a> </th>
                    </tr>
                    <tr>
                        <td colspan="3"> @t.Content </td>
                    </tr>
                    if (t.Topic_image != "/Images/")
                    {
                        <tr>
                            <td><img src="@t.Topic_image" class="topicImg" /></td>
                        </tr>
                    }
                    <tr>
                        @if (ViewBag.UpvotedTopics.Contains(t.Topic_id) || ViewBag.DownvotedTopics.Contains(t.Topic_id))
                        {
                            foreach (int id in ViewBag.UpvotedTopics)
                            {
                                if (id == t.Topic_id)
                                {
                                    <td><a href="~/Home/Upvote?topicId=@t.Topic_id"><img src="~/Images/upvote.png" /></a>&nbsp;@t.Upvote_number&emsp;<a href="~/Home/Downvote?topicId=@t.Topic_id"><img src="~/Images/downvoteWhite.png" /></a>&nbsp;@t.Downvote_number&emsp; <img src="~/Images/comment.png" />&nbsp;@t.Comment_number</td>
                                    break;
                                }
                            }
                            foreach (int id in ViewBag.DownvotedTopics)
                            {
                                if (id == t.Topic_id)
                                {
                                    <td><a href="~/Home/Upvote?topicId=@t.Topic_id"><img src="~/Images/upvoteWhite.png" /></a>&nbsp;@t.Upvote_number&emsp;<a href="~/Home/Downvote?topicId=@t.Topic_id"><img src="~/Images/downvote.png" /></a>&nbsp;@t.Downvote_number&emsp; <img src="~/Images/comment.png" />&nbsp;@t.Comment_number</td>
                                }
                            }
                        }
                        else
                        {
                            <td><a href="~/Home/Upvote?topicId=@t.Topic_id"><img src="~/Images/upvoteWhite.png" /></a>&nbsp;@t.Upvote_number&emsp;<a href="~/Home/Downvote?topicId=@t.Topic_id"><img src="~/Images/downvoteWhite.png" /></a>&nbsp;@t.Downvote_number&emsp; <img src="~/Images/comment.png" />&nbsp;@t.Comment_number</td>

                        }
                        <td><a href="~/Home/DeleteTopic?topicId=@t.Topic_id">Delete topic</a></td>
                        @if (ViewBag.SubscribedTopics.Contains(t.Topic_id))
                        {
                            <td><a href="~/Home/Unsubscribe?topicId=@t.Topic_id">Unsubscribe</a></td>
                        }
                        else
                        {
                            <td><a href="~/Home/Subscribe?topicId=@t.Topic_id">Subscribe</a></td>
                        }
                    </tr>
                }
            </table>
        }
        else if (@ViewBag.ShowTopics == "All topics")
        {
            <h2>All topics</h2>
            <table border="1">
                @foreach (Common.Topic t in ViewBag.topics)
                {
                    <tr>
                        <th colspan="3" class="headline"><a href="~/Forum/TopicPage?topicId=@t.Topic_id&showAddComment=false"> @t.Headline </a> </th>
                    </tr>
                    <tr>
                        <td colspan="3"> @t.Content </td>
                    </tr>
                    if (t.Topic_image != "/Images/")
                    {
                        <tr>
                            <td><img src="@t.Topic_image" class="topicImg" /></td>
                        </tr>
                    }
                    <tr>
                        @if (ViewBag.UpvotedTopics.Contains(t.Topic_id) || ViewBag.DownvotedTopics.Contains(t.Topic_id))
                        {
                            foreach (int id in ViewBag.UpvotedTopics)
                            {
                                if (id == t.Topic_id)
                                {
                                    <td><a href="~/Home/Upvote?topicId=@t.Topic_id"><img src="~/Images/upvote.png" /></a>&nbsp;@t.Upvote_number&emsp;<a href="~/Home/Downvote?topicId=@t.Topic_id"><img src="~/Images/downvoteWhite.png" /></a>&nbsp;@t.Downvote_number&emsp; <img src="~/Images/comment.png" />&nbsp;@t.Comment_number</td>
                                    break;
                                }
                            }
                            foreach (int id in ViewBag.DownvotedTopics)
                            {
                                if (id == t.Topic_id)
                                {
                                    <td><a href="~/Home/Upvote?topicId=@t.Topic_id"><img src="~/Images/upvoteWhite.png" /></a>&nbsp;@t.Upvote_number&emsp;<a href="~/Home/Downvote?topicId=@t.Topic_id"><img src="~/Images/downvote.png" /></a>&nbsp;@t.Downvote_number&emsp; <img src="~/Images/comment.png" />&nbsp;@t.Comment_number</td>
                                }
                            }
                        }
                        else
                        {
                            <td><a href="~/Home/Upvote?topicId=@t.Topic_id"><img src="~/Images/upvoteWhite.png" /></a>&nbsp;@t.Upvote_number&emsp;<a href="~/Home/Downvote?topicId=@t.Topic_id"><img src="~/Images/downvoteWhite.png" /></a>&nbsp;@t.Downvote_number&emsp; <img src="~/Images/comment.png" />&nbsp;@t.Comment_number</td>

                        }
                        <td></td>
                        @if (ViewBag.SubscribedTopics.Contains(t.Topic_id))
                        {
                            <td><a href="~/Home/Unsubscribe?topicId=@t.Topic_id">Unsubscribe</a></td>
                        }
                        else
                        {
                            <td><a href="~/Home/Subscribe?topicId=@t.Topic_id">Subscribe</a></td>
                        }
                    </tr>
                }
            </table>
        }
    </div>
    <div class="user">
        <table class="userTable">
            <tr>
                <td colspan="3" align="right" class="userTd"><a href="~/EditProfile/EditProfilePage">@ViewBag.User_name<img src="@ViewBag.UserPicture" class="userImage" /></a></td>
            </tr>
            <tr>
                <td><a href="~/Home/Index">Your topics</a></td>
                <td><a href="~/Home/AllTopics">All topics</a></td>
                <td><a href="~/Login/Logoff">Izloguj se</a></td>
            </tr>
        </table>
    </div>
</body>